body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
